.joydiv-controller{
  position:relative;
  top:0;
  left:0;
}
.joydiv-controller .joydiv-up,
.joydiv-controller .joydiv-left,
.joydiv-controller .joydiv-right,
.joydiv-controller .joydiv-down{
  position:absolute;
  width:0;
  height:0;
  background: transparent;
  border:solid transparent;
  opacity: 0.2;
}

.joydiv-controller .joydiv-up{
  top:0;
  left:50%;
  margin-left:-15%;
  border-bottom-color: black;
  border-top-width: 0;
  border-left-width: .15em;
  border-right-width: .15em;
  border-bottom-width: .2em;
}
.joydiv-controller .joydiv-left{
  left:0;
  top:50%;
  border-right-color: black;
  border-top-width: .15em;
  border-left-width: 0;
  border-right-width: .2em;
  border-bottom-width: .15em;
  margin-top:-15%;
}
.joydiv-controller .joydiv-right{
  right:0;
  top:50%;
  margin-top:-15%;
  border-left-color: black;
  border-top-width: .15em;
  border-left-width: .2em;
  border-right-width: 0;
  border-bottom-width: .15em;
}
.joydiv-controller .joydiv-down{
  bottom:0;
  left:50%;
  margin-left:-15%;
  border-top-color: black;
  border-top-width: .2em;
  border-left-width: .15em;
  border-right-width: .15em;
  border-bottom-width: 0;
}
.joydiv-controller .joydiv-trackpad{
  position:absolute;
  left:30%;
  right:30%;
  top:30%;
  bottom:30%;
  background:#B0B0B0;
  border-radius: 25px;
  opacity: 0.6;
}
.joydiv-controller .joydiv-tracker{
  position:absolute;
  top:50%;
  left:50%;
  border-radius:50%;
  border-style:solid;
  border-width:.15em;
  margin-left:-.15em;
  margin-top:-.15em;
  border-color: black;
  opacity: 1;
}
#dpad .joydiv-right{
  opacity: 1;
  margin-top: -10%;
  width: 40px;
  height: 20px;
  border:0;
  background: black;
}
#dpad .joydiv-left{
  opacity: 1;
  margin-top: -10%;
  width: 40px;
  height: 20px;
  border:0;
  background: black;
}
#dpad .joydiv-up{
  opacity: 1;
  margin-left: -10%;
  width: 20px;
  height: 40px;
  border:0;
  background: black;
}
#dpad .joydiv-down{
  opacity: 1;
  margin-left: -10%;
  width: 20px;
  height: 40px;
  border:0;
  background: black;
}
#dpad .joydiv-trackpad{
  background-color: gray;
}

#joystick2 {
  width: 150px;
  height: 150px;
  margin: 0px;
  top: 60%;
}

#joystick2 .joydiv-trackpad{
  /* font-size: 200px; */
  border-radius: 50%;
}
#joystick2 .joydiv-tracker{
  font-size: 150px;
}
#joystick2 .joydiv-up{
  font-size: 0px;
}
#joystick2 .joydiv-down{
  font-size: 0px;
}
#joystick2 .joydiv-left{
  font-size: 0px;
}
#joystick2 .joydiv-right{
  font-size: 0px;
}